@import './abstract/variables';
@import './abstract/mixins';

@import './base/base';

@import './pages/login';
@import './pages/signup';
@import './pages/mainmenu';
@import './pages/settings';
@import './pages/underconstruction';

@import './layout/navbar';
@import './layout/form';
@import './layout/legalfooter';
@import './layout/versionfooter';

@import './components/accountmanager';
@import './components/loginlinkview';
@import './components/digitalcontractlist';
@import './components/datasetlist';
@import './components/textinput';
@import './components/textareainput';
@import './components/radioinput';
@import './components/info-display';
@import './components/button';
@import './components/spinner';
@import './components/logo';
@import './components/modal';
@import './components/tooltip';
@import './components/errormessage';
@import './components/tile';
@import './components/digitalcontractforms';
@import './components/templatemanager';
@import './components/title';
@import './components/selectinput';
@import './components/settings';
@import './components/unified-registry';
@import './components/downloads';

.form-double {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  column-gap: 8rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}

.patient-summary {
  // height: 50rem;
  // width: 50rem;
  height: 100%;

  &__charts {
    display: flex;
    // width: 50%;
    height: 100%;
    width: 90%;
    min-width: 0;

    &>* {
      margin-left: 2rem;
      width: 50%;
    }

    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
  }

  &__bottom {
    display: grid;
    column-gap: 2rem;
    min-width: 0;
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr 1fr 4fr;
    padding-bottom: 2rem;
    row-gap: 2rem;

    &>* {
      display: flex;

      .react-select-container {
        width: 100%;
        margin-right: 1rem;
      }

      align-items: center;

      p {
        white-space: nowrap;
        margin-right: 1rem;
      }
    }
  }
}

.table {
  background-color: white;

  th {
    min-width: 10rem;
  }

  tr {
    &>* {
      &:first-child {
        padding-left: 3rem;
      }

      &:last-child {
        padding-left: 3rem;
      }
    }
  }

  &__column_header {
    min-width: max-content;
  }
}

.button-container {
  display: flex;

  &>* {
    &:not(&:first-child) {
      margin-left: 3rem;
    }
  }
}

.stat {
  max-width: 18rem !important;
  width: 18rem !important;
}

@element .feed-item and (max-width: 400px) {
  :self {
    flex-direction: column;

    .feed-item__date {
      margin-left: 0;
      margin-right: auto;
    }

    .feed-item__content {
      width: 100%;
      margin-bottom: 1rem;
    }

    .feed-item__image {
      display: none;
    }
  }
}

.standard-content-scroll {
  &>* {
    overflow-x: scroll !important;
  }

}
