// SCSS Variables
:root {
    // Font-size variables
    --fontsize-xxs: 1rem;
    --fontsize-xs: 1.2rem;
    --fontsize-sm: 1.4rem;
    --fontsize-base: 1.6rem;
    --fontsize-lg: 1.8rem;
    --fontsize-xl: 2rem;
    --fontsize-xxl: 2.2rem;
    --fontsize-3xl: 2.4rem;
    --fontsize-4xl: 2.6rem;
    --fontsize-5xl: 2.8rem;
    --fontsize-6xl: 3rem;
    --fontsize-7xl: 3.2rem;
    --fontsize-8xl: 3.4rem;
    --fontsize-9xl: 3.6rem;

    // Color variables
    --orange-0: #fcd0b7;
    --orange-1: #F37324;
    --orange-2: #EE4F2A;
}