.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.modal-container {
  width: 80%;
}

.ReactModal__Content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  height: max-content;
  position: relative !important;
  width: 70%;
  inset: 0 !important;

  .form {
    padding: 0;
    input {
      margin: 1px 0;
    }
    .radio-input__options {
      margin: 1px 0;
      padding: 1.5rem;
      label {
        margin: 0.2vw;
      }
    }
    .text-input {
      .tool-tip {
        top: 1rem;
      }
    }
  }

}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4) !important;
  z-index: 11;
}
