.select-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    label {
        padding-top: 0.5rem;
    }

    select {
        @include form-element;
        height: 4rem;
        padding: 0 1.5rem;
        margin: 0;
    }
    .tool-tip {
        position: relative;
        display: inline-block;
        width: 5%;
        height: 0;
        top: 0.9rem;
        // left: 37rem;
        left: 90%;
    
        &__text {
          width: 1900%;
          border-radius: 5px;
          padding: 5px 50%;
          bottom: 1.5rem;
          right: -100%;
        }
      }
}