.templateinfo {
    @include sliding-view;
    margin: 1vh 0;
    padding: 0;
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        align-items: start;
        input {
            padding: 1rem;
            margin: 0.5rem 0;
        }
        select {
            height: 4rem;
            margin: 0.5rem 0;
        }
        #Description_inputdiv {
            grid-row: 2;
            grid-column: 1 / 3
        }
        button {
            width: 50%;
            min-width: 20rem;
        }
        #buttoninput {
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 0.5rem;
                margin-bottom: 1.5rem;
            }
            button {
                margin: -1% 0;
                width: 50%;
            }
        }
        .bottombuttondiv {
            display: flex;
            justify-content: center;
        }
    }
    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        min-width: 15rem;
        width: 25vw;
        position: relative;
        bottom: 5.2rem;
        left: 35rem;
    }
    .radio-input__options {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.registertemplate {
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        // row-gap: 0.25vh;
        align-items: start;
        #Description_inputdiv {
            grid-row: 3;
            grid-column: 1 / 3
        }
        .dcforminfo {
            grid-column: 1 / 3;
        }
        button {
            grid-column: 1 / 3;
        }
        .radio-input__options {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
}