.title {
  display: block;
  // max-width: 85rem;
  margin: 30px 90px;
  margin-bottom: 10px;
  justify-content: space-between;
  font-size: var(--fontsize-xxl);
  font-weight: bold;
  border-bottom: 1px solid grey;
}
